<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render "layouts/light_section", title: @taxon.name, add_shop_link: true %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "categories_sidebar", taxonomies: @taxonomies %>
        <%= render "color_sidebar" %>
        <%= render "size_sidebar" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "filter_area" %>
        <div class="row productsrow">
          <%= render partial: "product", collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/partners_logo_slider" %>
