<% provide(:title, @product.name)%>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'layouts/light_section', title: @product.name, add_shop_link: false %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <%= render "product_image", product: @product %>
            <div class="media-body">
              <ul class="list-inline">
                <li>
                  <% if @taxon_id.present? %>
                    <%= link_to potepan_category_path(@taxon_id) do %>
                      <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                    <% end %>
                  <% end %>
                </li>
              </ul>
              <%= render 'product_detail', product: @product %>
              <%= render 'order_field' %>
            </div>
          </div>
        </div>
      </div>
      <div class="row productsContent">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>関連商品</h4>
          </div>
        </div>
        <%= render partial: "related_product", collection: @related_products, as: :related_product if @related_products.present? %>
      </div>
    </div>
  </section>
</div>
