<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= title %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to 'Home', potepan_path %></li>
          <% if add_shop_link %>
            <li>
              <a href="#">shop</a>
            </li>
          <% end %>
          <li class="active"><%= title %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
