<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(page_title: yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <!-- Header -->
    <div class="header clearfix">
      <%= render "layouts/topbar" %>
      <%= render "layouts/navbar" %>
    </div>
    <%= yield %>
    <!-- Login modal-->
    <%= render 'layouts/login_modal'%>
    <!-- Sign up modal -->
    <%= render "layouts/signup_modal" %>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
